:root{
    --quaternary: #EEF2F4;;
  }
.list-container{
    height: 100%;
    padding: 5%;
    align-content: center;
    margin: 5%;
}
table{
    background-color: #EEF2F4;;
    text-align: left;
    border-collapse: collapse;
    animation: moverDerecha 5s ease-in;
  }
  table th{
      color: #fff;
  }
  
  td, th{
    color: black;
  }

thead{
    background: #6873bA;
    border-bottom: 5px solid black;
    
    font-size:20px;
  }
tr:nth-child(even){
   background-color: #ddd;
}
    
tr:hover td{
    background-color: rgba(0, 128, 128, 0.479);
    color: white;
}